@charset "UTF-8";

:root {
	--color: #303030;
	--color-success: #33cc77;
	--color-error: #ff3333;
	--bg-color: #fafafa;
	--bg-color-active: #dadada;
	--bg-color-success: #55ff33;
	--bg-color-error: #ffaaaa;
	
	--button-color-danger: #fafafa;
	--button-bg-color: #ffcc11;
	--button-bg-color-danger: #ff3333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: var(--color);
	text-decoration: none;
}

textarea {
	resize: none;
}

.container {
	height: 100vh;
	width: 100vw;
	color: var(--color);
	background: var(--bg-color);
	display: grid;
	grid-template-rows: 8vh auto 8vh;
}

.message--error {
	height: 3.2rem;
	margin-top: 1.2rem;
	padding: 0.8rem;
	background: var(--bg-color-error);
	border: 1px solid var(--color-error);
	border-radius: 4px;
}

.heading {
	margin-top: 1.2rem;
	text-align: center;
}

.form {
	width: 40vw;
	min-width: 300px;
	margin: 1.2rem auto 0 auto;
	display: grid;
}

.form__section {
	margin-bottom: 0.8rem;
}

.form__label {
	display: block;
}

.form__input {
	height: 1.6rem;
	width: 100%;
	padding-left: 8px;
}

.form__button {
	height: 2.0rem;
	width: 70%;
	min-width: 100px;
	margin: 1.2rem auto 0 auto;
	background: var(--button-bg-color);
	border-radius: 4px;
}

.form__button:hover {
	cursor: pointer;
}